.device-modal {
  top: 0;
  left: -100%;
  transition: left $modal-transition-settings;

  &.modal--active {
    left: 0;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    background: $color-neon-blue;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
