.modal {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: $color-default-white;
  transition: top $modal-transition-settings;
  z-index: 3;
  &--active {
    top: 0;

  }
}

.preloader {
  .modal {
    &__overlay {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

